.hide {
  visibility: hidden;
}

.red {
  background-color: red;
}

.brown {
  background-color: rgb(105, 74, 56);
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}
 